.container {
  width: 100%;
  position: fixed;
  z-index: 3000;
  .content {
    padding: 12px 15px;
    display: flex;
    z-index: 1;
    align-items: center;
    color: black;
    width: 100%;
    font-size: 14px;
    justify-content: space-between;
    position: relative;
  }
  .item-container {
    font-size: 14px;
    display: flex;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;

    gap: 12px;
    flex: 1;

    li {
      white-space: nowrap;
      display: list-item;
      cursor: pointer;
    }
  }
  .logo {
    object-position: center center;
    max-width: 78px;
    width: 100%;
    display: block;
    height: auto;
    cursor: pointer;
  }
  .logo-container {
    flex: 1;
  }
  .user-options-container {
    flex: 1;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    gap: 10px;
    cursor: pointer;

    align-items: center;
    justify-content: flex-end;
  }
}
.burger-label {
  block-size: 18px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  inline-size: 18px;
  font-size: 14px;
  margin-left: 10px;
  line-height: 21px;
  block-size: calc(20px + 10px);
  align-items: center;
  .main-trigger-icon-container {
    position: relative;
    display: block;
    block-size: 18px;
    inline-size: 100%;
    .main-trigger-icon {
      background-color: black;
      inline-size: 100%;
      position: absolute;
      display: block;
      transition: all 300ms ease-in-out;
      block-size: calc(20px / 10);
      top: calc(36% + 2px);

      &:before {
        transition: all 300ms ease-in-out;
        block-size: calc(20px / 10);
        background-color: black;
        content: "";
        top: -5px;
        display: block;
        position: absolute;
        inline-size: 100%;
      }
      &:after {
        transition: all 300ms ease-in-out;
        block-size: calc(20px / 10);
        background-color: black;
        content: "";
        top: 5px;
        display: block;
        position: absolute;
        inline-size: 100%;
      }
    }
  }
}
.burger-input {
  opacity: 1;
  background: red;
  display: none;
  &:checked ~ .burger-label {
    z-index: 102;

    .main-trigger-icon {
      transition: all 300ms ease-in-out;
      background-color: transparent;

      &:before {
        top: 0;

        transform: rotate(45deg);
        transition: all 300ms ease-in-out;
      }
      &:after {
        top: 0;
        transform: rotate(-45deg);
        transition: all 300ms ease-in-out;
      }
    }
  }

  &:checked ~ .side-menu-container {
    z-index: 101;
    background-color: white;
    min-height: 100vh;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    transition: all 150ms ease-in-out;
    position: absolute;
    .side-menu-item-container {
      padding: 40px 8px;
      overflow-y: scroll;
      .additional-menu-items {
        display: none;
      }
      &::-webkit-scrollbar {
        display: none;
      }
      li {
        font-size: 14px;
        font-weight: 600;
        display: flex;
        text-transform: uppercase;
        align-items: center;
        color: black;

        padding: 15px 110px 15px 20px;
        border-bottom: 1px solid #d0d1d2;
      }
    }
  }
  &:checked ~ .header-mask {
    position: fixed;
    block-size: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    bottom: 0;
    inline-size: 100%;
    width: 100vw;
    // pointer-events: none;
    // cursor: not-allowed;
    background-color: rgba(0, 0, 0, 0.25);
  }
}
.hide-scroll {
  overflow: hidden;
}
.side-menu-container {
  background-color: white;
  min-height: 100vh;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  transition: all 150ms ease-in-out;
  position: absolute;
  right: -400px;
  position: absolute;
  .side-menu-item-container {
    padding: 40px 8px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    li {
      cursor: pointer;
      font-size: 14px;
      font-weight: 600;
      display: flex;
      text-transform: uppercase;
      align-items: center;
      color: black;
      padding: 15px 110px 15px 20px;
      border-bottom: 1px solid #d0d1d2;
    }
  }
}
@media screen and (max-width: 834px) {
  .item-container {
    display: none !important;
  }
  .user-options-container {
    display: none !important;
  }
  .additional-menu-items {
    display: block !important;
  }
}
